<!-- Page Content -->
<div class="container">
  <div class="form-group">
      <label for="wysiwyg"></label>
      <textarea rows="3" class="form-control" id="wysiwyg" #textarea ngModel [(ngModel)]="source">
      </textarea>
      <button (click)="log(textarea)">Test</button>
  </div>
  <div>
      <div>
          Source :
          <div> {{ source }}</div>
      </div>
      <!-- <div>
          Modified :
          <div>{{ modified }}</div>
      </div> -->
  </div>
</div>
<!-- /.container -->